.product {
  width: 300px;
  height: 200px;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.6rem;
  border-radius: 1rem;
  background-color: aquamarine;
  color: tomato;
}
