* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-size: 25px;
  font-weight: bold;
  background: #424242;
  color: bisque;
}

.emadclass {
  width: 80%;
  padding: 0 1rem;
  margin: 0 auto;
}
